/* Your styles here */

.headerdiv {
    background-color: #252f3d;
    padding-left: 40 px;
    padding-top: 20 px
    padding-bottom: 20 px;
}

.navdiv {
    background-color: #394757;
    text-align: left;
    color: white;
    padding: 20 px;
}

.advdiv {
    background-image: url("./bg-image.png");
    text-align: center;
    color: white;
    margin: 20 px;
}

.whitediv {
    background-color: white;
    margin: 20 px;
}

.squarediv {
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25 px;
    margin: 20 px;
}

.imgdiv {
    height: 200 px;
    text-align: center;
    margin: 20 px;
}

.linkdiv {
    background-color: #e46f2c;
    margin: 40 px;
    text-align: center;
    color: white;
    padding: 20 px;
}

.backdiv {
    background-color: #394757;
    text-align: center;
    color: white;
    padding: 20 px;
}

.footerdiv {
    background-color: #252f3d;
    text-align: center;
}

.whitea {
    color: white;
}
